/* Target the window and the internal box to force them to 0px */
window#osd,
window#osd box#container {
    min-width: 0px;
    min-height: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
    background: transparent;
    box-shadow: none;
}

/* Hide the actual content so it doesn't "overflow" the 0px box */
window#osd box#container label.title-4,
window#osd box#container image:disabled {
    opacity: 0;
    margin: -1000px;
}
