[Desktop Entry]
Name=Bluetooth Settings
Icon=preferences-bluetooth
Exec=gnome-control-center bluetooth
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;
Keywords=Preferences;Settings;Bluetooth
