[Desktop Entry]
Name=Google Calendar
Icon=calendar
Exec=google-chrome --app=http://calendar.google.com/?authuser=sselcuk@google.com --remote-debugging-port=9222  --profile-directory=Default
Terminal=false
Type=Application
StartupNotify=true
Keywords=Calendar;Schedule
