[Desktop Entry]
Name=Chat
Icon=google-chat
Exec=google-chrome --app=http://chat.google.com/ --remote-debugging-port=9222 
Terminal=false
Type=Application
StartupNotify=true
Keywords=Hangouts;Chat
