[Desktop Entry]
Name=Cider
Icon=text-editor-symbolic
Exec=google-chrome --app=https://cider-v.corp.google.com/ 
Terminal=false
Type=Application
StartupNotify=true
Keywords=Cider;Editor;Text
