[Desktop Entry]
Name=Code Search
Icon=preferences-system-search-symbolic
Exec=google-chrome --app=https://source.corp.google.com/ --remote-debugging-port=9222 
Terminal=false
Type=Application
StartupNotify=true
Keywords=Code Search;Google
