[Desktop Entry]
Name=Gmail
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
Exec=google-chrome --app=http://mail.google.com/?authuser=sselcuk@google.com --remote-debugging-port=9222 --profile-directory=Default
Terminal=false
Type=Application
StartupNotify=true
Keywords=Email;Gmail
