[Desktop Entry]
Name=Sound Settings
Icon=audio-volume-medium
Exec=env XDG_CURRENT_DESKTOP=GNOME gnome-control-center sound
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;
Keywords=Preferences;Settings;Audio;Sound;Volume;Microphone;Speaker;
