[Desktop Entry]
Name=Whatsapp
Icon=whatsapp
Exec=google-chrome --app=http://web.whatsapp.com/ --profile-directory="Profile 2"
Terminal=false
Type=Application
StartupNotify=true
Keywords=Whatsapp
