order = "scratchpad"
order += "notifications"
order += "google_calendar"
order += "group finance"
order += "i3block namaz"
order += "clock 1"
order += "clock 2"
order += "group weather"
order += "i3block screensaver"

py3status {
  separator = true
  separator_block_width = 20
}

scratchpad {
    format = '[\?not_zero ⌫ [\?color=scratchpad {scratchpad}]]'
    on_click 1 = 'scratchpad show'
}

group finance {
  exchange_rate usd {
    base = "TRY"
    format =  "${USD}"
  }

  exchange_rate eur {
    base = "TRY"
    format =  "€{EUR}"
  }

  bitcoin_price {
    markets = "krakenUSD"
    format_bitcoin = "₿ {symbol}{price:.0f}"
  }

  button_next = 1
}

clock 1 {
  button_change_time_format = 1
  format_time = ["%H:%M", "%H:%M:%S"]
}

clock 2 {
  format_time = ["%a %d/%b/%Y"]
  on_click 1 = "exec google-chrome --app=http://calendar.google.com/" 
  on_click 3 = "exec gnome-calendar"
}

google_calendar {
  auth_token = "~/.dotfiles/tmp/google_calendar.auth.token"
  client_secret = "~/.dotfiles/tmp/google_calendar.credentials.json"
  ignore_all_day_events = True
  thresholds = {
      'event': [(1, '#d0e6ff'), (2, '#bbdaff'), (3, '#99c7ff'),
          (4, '#86bcff'), (5, '#62a9ff'), (6, '#8c8cff'), (7, '#7979ff')],
      'time': [(1, '#ffcece'), (2, '#ffbfbf'), (3, '#ff9f9f'),
          (4, '#ff7f7f'), (5, '#ff5f5f'), (6, '#ff3f3f'), (7, '#ff1f1f')]
  }
  format_event = "[\?color=event {summary} ][\?if=is_toggled ({location})[ {format_timer}] | ({start_time} - {end_time})]"
}

i3block namaz {
  full_text="Namaz"
  command="$HOME/.dotfiles/bin/namaz i3blocks"
  interval=60
}

i3block screensaver {
  command = "$HOME/.dotfiles/i3/screensaver"
  interval = 1000
}

group weather {
  button_next = 1
  weather_owm {
    api_key = "9723ff114e527cc8639d133d6538e593"
    format = "{temperature} {description}"
    format_temperature = "{current:.0f}°C"
    unit_temperature="c"
  }
  weather_owm {
    api_key = "9723ff114e527cc8639d133d6538e593"
    forecast_include_today = True
    format = "{forecast}"
    forecast_days = 2
    format_forecast = "{temperature} {description}"
    unit_temperature="c"
  }
}

# vim: cms=#\ %s

