order = "scratchpad"
order += "notifications"
order += "google_calendar"
order += "playerctl"
order += "wpctl_event"
order += "i3block namaz"
order += "clock 1"
order += "clock 2"
order += "i3block screensaver"
order += "battery_level"

py3status {
  separator = true
  separator_block_width = 20
}

playerctl {
  format_player = '[\?if=status=Playing ⏸][\?if=status=Paused ▶]'
  button_volume_up = 5
  button_volume_down = 4
}

scratchpad {
    format = '[\?not_zero ⌫ [\?color=scratchpad {scratchpad}]]'
    on_click 1 = 'scratchpad show'
}

clock 1 {
  button_reset = 2
  button_change_time_format = 3
  format = ["{America/New_York}", "{Europe/Zurich}🇨🇭", "{Asia/Istanbul}🇹🇷"]
  format_time = ["%H:%M", "%H:%M:%S"]
}

clock 2 {
  format_time = ["%a %d/%b/%Y"]
  on_click 1 = "exec google-chrome --app=http://calendar.google.com/" 
  on_click 3 = "exec gnome-calendar"
}

google_calendar {
  auth_token = "~/.dotfiles/tmp/google_calendar.auth.token"
  client_secret = "~/.dotfiles/tmp/google_calendar.credentials.json"
  ignore_all_day_events = True
  thresholds = {
      'event': [(1, '#d0e6ff'), (2, '#bbdaff'), (3, '#99c7ff'),
          (4, '#86bcff'), (5, '#62a9ff'), (6, '#8c8cff'), (7, '#7979ff')],
      'time': [(1, '#ffcece'), (2, '#ffbfbf'), (3, '#ff9f9f'),
          (4, '#ff7f7f'), (5, '#ff5f5f'), (6, '#ff3f3f'), (7, '#ff1f1f')]
  }
  format_event = "[\?color=event {summary}][\?if=is_toggled [\?if=location [ ({location})] []][ {format_timer}] | ({start_time} - {end_time})]"
}

i3block namaz {
  full_text="Namaz"
  command="$HOME/.dotfiles/bin/namaz i3blocks"
  interval=60
}

i3block screensaver {
  command = "$HOME/.dotfiles/i3/screensaver"
  interval = 1000
}

battery_level {
  blocks = '_⡀⣀⣄⣆⣇⣷⣾⣿'
}

# vim: cms=#\ %s

