[Unit]
Description=Start the kanshi profile service
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Restart=always
RestartSec=3

[Install]
WantedBy=sway-session.target
