[Unit]
Description=Start the kanshi profile service
PartOf=graphical-session.target
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Restart=always

[Install]
WantedBy=sway-session.target
