[Unit]
Description=Sunshine streaming via headless Sway
After=sway-sunshine.service
BindsTo=sway-sunshine.service

[Service]
Type=simple
Environment=WAYLAND_DISPLAY=wayland-1
Environment=SWAYSOCK=/run/user/1000/sway-sunshine.sock
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=sway
ExecStartPre=-/usr/bin/systemctl --user stop sunshine-headless.socket --no-block
ExecStartPre=/usr/bin/sleep 3
ExecStart=/home/sselcuk/software/sunshine.AppImage
ExecStopPost=/usr/bin/sleep 6
ExecStopPost=-/usr/bin/systemctl --user start sunshine-headless.socket --no-block
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
