[Unit]
Description=Start swaybg
PartOf=graphical-session.target
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle
Restart=on-error

[Install]
WantedBy=sway-session.target
