[Unit]
Description=Start swayidle
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle
Restart=on-error
After=graphical-session.target

[Install]
WantedBy=sway-session.target
