@import  "shutdown-common.rasi"

#window {
  children: [dummy, container, dummy];
}

#container {
  children: [dummy, box, dummy];
  orientation: horizontal;
}

#box  {
  children:  [promptc, listview];
  expand: false;
  width: 7em;
  padding: 0 0 3em 0;
}


#promptc {
  children: [dummy, prompt, dummy];
  orientation: horizontal;
}

#prompt  {
  enabled:  true;
  background-color:  @background-alt;
  text-color:  @foreground;
  font: "feather 48";
  vertical-align: 0.7;
}

#listview {
  expand: false;
  lines: 2;
}
